<div class=" articles main-width">
  <div class=" articles__title">
    <h2>
      Güncel Haberler ve Rehberler
    </h2>
  </div>
  <div class=" articles__list">
    <div class="article-card article-card--main">
      <div
        class="article-card__image"
        style="background-image: url('images/article1.webp')"
      ></div>
      <div class="article-card__content">
        <div class="article-card__title" data-i18n="articles.card.title">
          Makale Başlığı
        </div>
        <div class="article-card__excerpt" data-i18n="articles.card.excerpt">
          Makale özeti burada yer alacak. Makale özeti burada yer alacak. Makale
          özeti burada yer alacak. Makale özeti burada yer alacak. Makale özeti
          burada yer alacak.
        </div>
        <a
          href="#"
          class="btn btn--m btn--clear article-card__link"
          data-i18n="articles.card.link"
          >Devamını Oku</a
        >
      </div>
    </div>
    <div class="article-card article-card">
      <div
        class="article-card__image"
        style="background-image: url('images/article2.webp')"
      ></div>
      <div class="article-card__content">
        <div class="article-card__title" data-i18n="articles.card.title">
          Makale Başlığı
        </div>
        <div class="article-card__excerpt" data-i18n="articles.card.excerpt">
          Makale özeti burada yer alacak.
        </div>
        <a
          href="#"
          class="btn btn--m btn--clear article-card__link"
          data-i18n="articles.card.link"
          >Devamını Oku</a
        >
      </div>
    </div>
    <div class="article-card article-card">
      <div
        class="article-card__image"
        style="background-image: url('images/article3.webp')"
      ></div>
      <div class="article-card__content">
        <div class="article-card__title" data-i18n="articles.card.title">
          Makale Başlığı
        </div>
        <div class="article-card__excerpt" data-i18n="articles.card.excerpt">
          Makale özeti burada yer alacak.
        </div>
        <a
          href="#"
          class="btn btn--m btn--clear article-card__link"
          data-i18n="articles.card.link"
          >Devamını Oku</a
        >
      </div>
    </div>
  </div>
    <div style="display: flex; justify-content: center">
        <include src="button.html"></include>
    </div>
</div>
