 <div class="btn--main">
               
                <a href="" class="btn">
                     <div class="ratio">
                    <img src="images/Fenerbahce.webp" alt="Fenerbahçe Logo">
                    <span class="ratio__text">2.15</span>
                </div>
                Bet Now
                <div class="ratio">
                    <span class="ratio__text">2.90</span>
                    <img src="images/Galatasaray.webp" alt="Galatasara Logo">
                </div>
            </a>
            </div>

<style>
  .btn--main .btn {
                border-radius: 0;
                height: 56px;
                gap: 20px;
                padding: 0 12px;
                font-size: 20px;
                background: var(--semantic-brand-500, #14A0FF);
                color: var(--semantic-brand-50);
            }
 
.btn--main .btn:before {
            content: '';
          	display: inline-block;
            border-bottom: 56px solid var(--semantic-brand-500);
            border-left: 22px solid transparent;
                margin-right: -1px;

          }
 .btn--main .btn:after {
            content: '';
          	display: inline-block;
            border-top: 56px solid var(--semantic-brand-500);
            border-right: 22px solid transparent;
                margin-left: -1px;

          }

.btn--main .btn .ratio {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgba(255, 255, 255, 0.60);
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
            line-height: 24px;

            img {
                height: 32px;
            }
        }
  
     
</style>
