<div class="faq main-width">
  <div class="faq__info">
    <h2>Sıkça sorulan sorular</h2>
    <div class="faq__description">
      Cevaplanmayan sorularınız için destek ekibimizle e-posta yoluyla iletişime
      geçin. Size yardımcı olmak için mümkün olan en kısa sürede yanıt
      vereceğiz.
    </div>
  </div>
  <div class="faq__list">
    <div class="faq__item">
      <details>
        <summary>Ödeme yöntemleriniz nelerdir?</summary>
        <p>
          Sipariş verdikten sonra veya sipariş verirken yeni bir hesap
          oluşturduysanız, müşteri hesabınızda her iki adresi (faturalandırma ve
          gönderim için) de düzenleyebilirsiniz.
        </p>
      </details>
    </div>
    <div class="faq__item">
      <a
        href=" "
      >
        <details>
          <summary>Bülteninize nereden abone olabilirim?</summary>
          <p></p>
        </details>
      </a>
    </div>
    <div class="faq__item">
      <a
        href=" "
      >
        <details>
          <summary>
            Bir derginin ücretsiz bir kopyasını örnek olarak sipariş edebilir
            miyim?
          </summary>
          <p></p>
        </details>
      </a>
    </div>
  </div>
</div>

   <div class="main-width" style="display: flex; justify-content: center; width: 364px;">
            <include src="button.html"></include>
        </div>