<footer>
  <div class="footer main-width">
    <div class="footer__text">
      Bu web sitesine kaydolmak için, kullanıcının Hizmet Şartlarını kabul
      etmesi gerekir. Hizmet Şartları güncellenirse, mevcut kullanıcılar,
      duyurudan en az iki hafta sonra yürürlüğe girecek olan bu güncellemeden
      önce ürün ve hizmetleri kullanmayı bırakmayı tercih edebilir. İngilizceye
      ek olarak, kopyalar diğer dillerde de mevcut olabilir. Ancak, orijinal
      İngilizce sürüm tüm çevirilerin önüne geçer.1x-001.com, Curaçao yasalarına
      göre kurulan ve Şirket Numarası 163779 olan Caecus N.V. tarafından
      işletilmektedir. Kayıt adresi: Chuchubiweg, 17, Willemstad, Curaçao.
      Curaçao Oyun Kontrol Kurulu tarafından, Ulusal Kumar Oyunları Mevzuatına
      uygun olarak, OGL/2024/1262/0493 lisans numarasıyla şans oyunları sunmak
      üzere lisanslanmıştır. Lisans 07/11/2024 tarihinde verilmiştir. Ödemeler,
      Caecus N.V. adına ödeme acenteleri olarak hareket eden Exidea Enterprises
      LTD ve Ervianassa Enterprises LTD (Kıbrıs) tarafından işlenir. Tüm hakları
      saklıdır. Oyunlara katılmak için, önce Sorumlu Oyun Anlaşması (RGA) ve
      Hizmet Şartları (GT&C) ile yasal olarak bağlı kalmayı kabul etmelisiniz.
      Herhangi bir oyuna katılmadan önce lütfen RGA/GT&C'yi dikkatlice
      inceleyin.
    </div>
    <div class="footer__content">
      <div class="footer__copyright">
        Telif Hakkı © 2025 "1xBet".<br />
        1xBet, size en iyi deneyimi sunmak için çerezleri kullanır. Siteyi
        kullanmaya devam ederseniz, 1xBet’in çerezleri kullanmasını kabul etmiş
        olursunuz. <a
          href=""
          >Daha fazla bilgi edinin</a
        >
      </div>
      <div class="footer__links">
        <a href="" target="_blank">
          <img src="images/icon1.png" />
        </a>
        <a href="">
          <img src="images/icon2.png" />
        </a>
      </div>
    </div>
  </div>
</footer>