
    <div class="infographics main-width">
        <h2><span>Security & Payments</span></h2>
       <div class="infographics__list">
            <div class="infographics__item">
                <div class="infographics__image"><img src="images/infographic1.webp" alt="" /></div>
                <div class="infographics__content">
                    <div class="infographics__item-title">SSL Encryption</div>
                    <div class="infographics__item-description">All data is secured with 256-bit SSL. Your connection remains private.</div>
                </div>
            </div>
            <div class="infographics__item">
                <div class="infographics__image"><img src="images/infographic2.webp" alt="" /></div>
                <div class="infographics__content">
                    <div class="infographics__item-title">Licensed & Regulated</div>
                    <div class="infographics__item-description">Internationally licensed and audited. We strictly follow KYC and AML rules.</div>
                </div>
            </div>
            <div class="infographics__item">
                <div class="infographics__image"><img src="images/infographic3.webp" alt="" /></div>
                <div class="infographics__content">
                    <div class="infographics__item-title"">Fast Payouts</div>
                    <div class="infographics__item-description">Fast, reliable withdrawals to trusted providers.</div>
                </div>
            </div>
        </div>
         <div style="display: flex; justify-content: center">
            <include src="button.html"></include>
        </div>
    </div>